{% extends 'base.html' %}

{% block title %}Appointments{% endblock %}

{% block content %}

<h1 class="text-2xl font-bold mb-4 flex justify-center mt-10">Appointments</h1>
<div class=" mt-10 ">
    <table class="w-full table-auto border-collapse border border-gray-400 shadow-xl rounded-lg overflow-hidden">
        <colgroup>
            <col style="width: 12%;">   <!-- Date/Time -->
            <col style="width: 10%;">   <!-- MRN -->
            <col style="width: 15%;">   <!-- Patient Name -->
            <col style="width: 8%;">    <!-- Age -->
            <col style="width: 10%;">   <!-- Checked In -->
            <col style="width: 45%;">   <!-- Patient Details (biggest column) -->
        </colgroup>
        <thead class="bg-blue-700 text-white">
        <tr>
            <th class="border border-gray-400 px-4 py-2 text-center">Date/Time</th>
            <th class="border border-gray-400 px-4 py-2 text-center">MRN</th>
            <th class="border border-gray-400 px-4 py-2 text-center">Patient Name</th>
            <th class="border border-gray-400 px-4 py-2 text-center">Age</th>
            <th class="border border-gray-400 px-4 py-2 text-center">Checked In</th>
            <th class="border border-gray-400 px-4 py-2 text-center">Patient Details</th>
        </tr>
        </thead>
        <tbody>
        <tr class="">
            <td class="border border-gray-400 px-4 py-2">Apr 2, 2025 <br> 11:00AM</td>
            <td class="border border-gray-400 px-4 py-2">23847109</td>
            <td class="border border-gray-400 px-4 py-2">John Doe</td>
            <td class="border border-gray-400 px-4 py-2 text-center">45</td>
            <td class="border border-gray-400 px-4 py-2 text-center">❌</td>
            <td class="border border-gray-400 px-4 py-2 whitespace-normal break-words">Persistent cough, chest tightness, and patient starting to worry.</td>
        </tr>
        <tr class="bg-gray-200">
            <td class="border border-gray-400 px-4 py-2">Apr 2, 2025 <br> 10:00AM</td>
            <td class="border border-gray-400 px-4 py-2">90428374</td>
            <td class="border border-gray-400 px-4 py-2">Mary Johnson</td>
            <td class="border border-gray-400 px-4 py-2 text-center">45</td>
            <td class="border border-gray-400 px-4 py-2 text-center">✅</td>
            <td class="border border-gray-400 px-4 py-2 whitespace-normal break-words">Experiencing really bad cramps and irregular bleeding with my periods, and I'd like to figure out what's going on.</td>
        </tr>
        <tr class="">
            <td class="border border-gray-400 px-4 py-2">Apr 2, 2025 <br> 9:00AM</td>
            <td class="border border-gray-400 px-4 py-2">18739204</td>
            <td class="border border-gray-400 px-4 py-2">James Smith</td>
            <td class="border border-gray-400 px-4 py-2 text-center">50</td>
            <td class="border border-gray-400 px-4 py-2 text-center">✅</td>
            <td class="border border-gray-400 px-4 py-2 whitespace-normal break-words">Annual physical. Ensure cholesterol and blood pressure are still in a healthy range.</td>
        </tr>
        <tr class="bg-gray-200">
            <td class="border border-gray-400 px-4 py-2">Apr 2, 2025 <br> 9:00AM</td>
            <td class="border border-gray-400 px-4 py-2">56283017</td>
            <td class="border border-gray-400 px-4 py-2">Jennifer Brown</td>
            <td class="border border-gray-400 px-4 py-2 text-center">35</td>
            <td class="border border-gray-400 px-4 py-2 text-center">✅</td>
            <td class="border border-gray-400 px-4 py-2 whitespace-normal break-words">Trouble sleeping, and experiencing hot flashes, and patient believe it’s related to menopause.</td>
        </tr>
        <tr class="">
            <td class="border border-gray-400 px-4 py-2">Apr 2, 2025 <br> 8:00AM</td>
            <td class="border border-gray-400 px-4 py-2">73019485</td>
            <td class="border border-gray-400 px-4 py-2">Robert Williams</td>
            <td class="border border-gray-400 px-4 py-2 text-center">42</td>
            <td class="border border-gray-400 px-4 py-2 text-center">✅</td>
            <td class="border border-gray-400 px-4 py-2 whitespace-normal break-words">Swelling in my ankles, concerned about my heart and kidney health.</td>
        </tr>
        <tr class="bg-gray-200">
            <td class="border border-gray-400 px-4 py-2">Apr 2, 2025 <br> 7:45AM</td>
            <td class="border border-gray-400 px-4 py-2">49172638</td>
            <td class="border border-gray-400 px-4 py-2">Emily Wilson</td>
            <td class="border border-gray-400 px-4 py-2 text-center">25</td>
            <td class="border border-gray-400 px-4 py-2 text-center">✅</td>
            <td class="border border-gray-400 px-4 py-2 whitespace-normal break-words">Persistent joint pain in knees and hands for 3 weeks, accompanied by morning stiffness, and patient suspects early arthritis symptoms.</td>
        </tr>
        <tr class="">
            <td class="border border-gray-400 px-4 py-2">Apr 2, 2025 <br> 7:30M</td>
            <td class="border border-gray-400 px-4 py-2">82034719</td>
            <td class="border border-gray-400 px-4 py-2">John Doe</td>
            <td class="border border-gray-400 px-4 py-2 text-center">63</td>
            <td class="border border-gray-400 px-4 py-2 text-center">✅</td>
            <td class="border border-gray-400 px-4 py-2 whitespace-normal break-words">Recurring headaches and sensitivity to light for past month, patient reports family history of migraines.</td>
        </tr>
        <tr class="bg-gray-200">
            <td class="border border-gray-400 px-4 py-2">Apr 2, 2025 <br> 7:00AM</td>
            <td class="border border-gray-400 px-4 py-2">12345678</td>
            <td class="border border-gray-400 px-4 py-2">Lisa Green</td>
            <td class="border border-gray-400 px-4 py-2 text-center">38</td>
            <td class="border border-gray-400 px-4 py-2 text-center">✅</td>
            <td class="border border-gray-400 px-4 py-2 whitespace-normal break-words">Feeling nauseous and dizzy, suspecting it might be related to a recent flu shot.</td>
        </tr>
            
        <tr class="">
            <td class="border border-gray-400 px-4 py-2">Apr 2, 2025 <br> 7:00AM</td>
            <td class="border border-gray-400 px-4 py-2">87654321</td>
            <td class="border border-gray-400 px-4 py-2">Michael Taylor</td>
            <td class="border border-gray-400 px-4 py-2 text-center">55</td>
            <td class="border border-gray-400 px-4 py-2 text-center">✅</td>
            <td class="border border-gray-400 px-4 py-2 whitespace-normal break-words">Annual checkup to monitor blood sugar levels and check for early signs of diabetes.</td>
        </tr>
            
        <tr class="bg-gray-200">
            <td class="border border-gray-400 px-4 py-2">Apr 2, 2025 <br> 6:45AM</td>
            <td class="border border-gray-400 px-4 py-2">45678901</td>
            <td class="border border-gray-400 px-4 py-2">Sarah Miller</td>
            <td class="border border-gray-400 px-4 py-2 text-center">29</td>
            <td class="border border-gray-400 px-4 py-2 text-center">✅</td>
            <td class="border border-gray-400 px-4 py-2 whitespace-normal break-words">Severe migraines and nausea, suspecting possible hormonal imbalance.</td>
        </tr>
      </tbody>
    </table>
</div>

{% endblock %}
