{% extends 'base.html' %}

{% block title %}Create New Patient{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4 flex justify-center mt-2">Create New Patient</h1>
<div class="mx-auto p-4 max-w-3xl">

  <div class="bg-white shadow rounded-lg overflow-hidden">
    <div class="bg-blue-700 text-white py-3 px-4 font-semibold">
      Patient Details
    </div>
    <form method="POST" action="{{ url_for('all_patients.create_patient') }}" class="py-4 px-4 space-y-4">
      {{ form.hidden_tag() }}

      <div>
        {{ form.date_time.label(class="block text-gray-700 text-sm font-bold mb-2") }}
        {{ form.date_time(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
      </div>

      <div>
        {{ form.random_mrn.label(class="block text-gray-700 text-sm font-bold mb-2") }}
        {{ form.random_mrn(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", readonly=true) }}
      </div>

      <div>
        {{ form.first_name.label(class="block text-gray-700 text-sm font-bold mb-2") }}
        {{ form.first_name(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
      </div>

      <div>
        {{ form.last_name.label(class="block text-gray-700 text-sm font-bold mb-2") }}
        {{ form.last_name(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
      </div>

      <div>
        {{ form.dob.label(class="block text-gray-700 text-sm font-bold mb-2") }}
        {{ form.dob(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
      </div>

      <div>
        {{ form.patient_age.label(class="block text-gray-700 text-sm font-bold mb-2") }}
        {{ form.patient_age(class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline") }}
      </div>

      <div class="flex justify-end">
        {{ form.submit(class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline") }}
      </div>
    </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const mrnField = document.getElementById('random_mrn');
    if (mrnField) {
      // Generate a random 8-digit number
      const randomMRN = Math.floor(10000000 + Math.random() * 90000000);
      mrnField.value = randomMRN;
    }
  });
</script>

{% endblock %}
